.factsContainer {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backgroundImage {
  object-fit: cover;
  position: fixed;
  z-index: 1;
  top: 70px;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.factsInSavedList {
  position: relative;
  z-index: 2;
  display: grid;
  padding: 20px;
  row-gap: 20px;
}

.factsInSavedListItem {
  list-style-type: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.closeIcon {
  color: rgb(225, 8, 8);
  font-size: 20px;
}

.noSavedFactContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noSavedFact {
  position: relative;
  z-index: 2;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  font-size: 20px;
  color: white;
  text-align: center;
}

@media (min-width: 425px) {
  .factsInSavedList {
    padding: 40px 30px;
  }
}

@media (min-width: 768px) {
  .factsInSavedListItem {
    max-width: 800px;
    min-height: 150px;
    row-gap: 30px;
    padding: 30px;
  }

  .factsInSavedText {
    font-size: 18px;
    margin: 0;
    padding-right: 10px;
  }
}

@media (min-width: 1024px) {
  .factsInSavedText {
    font-size: 20px;
  }

  .closeIcon {
    font-size: 26px;
  }
}
