.menuContainer{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: flex-end;
}

.menu{
    display: flex;
    justify-content: center;
    width: 100%  ;
    column-gap: 10px;
    font-family: var(--header-font-family);
}

.menuItem , .menuItem:hover{
    padding-right: 10px;
    color: var(--primary-color)  ;
    font-size: 18px;

}

.userRegistration{
    color: var(--primary-color)  ;
    font-size: 18px;
    cursor: pointer;
    font-family: var(--header-font-family);
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-right: 10px;
}

.logoutIconContainer{
    position: relative;
    z-index: 3;
    color: var(--primary-color)  ;
    font-size: 20px;
    cursor: pointer;
    
}
.logoutIcon{
    box-sizing: border-box;
}

@media(min-width:425px){
    .menu{
       justify-content: flex-end;
    }
}


@media(min-width:768px){
    .menuContainer{
        padding: 0 70px;
        /* display: none !important; */
    }

    .menu{
        display: initial !important;
    }
}