.formContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 20px 0 0 0;
}

.formContainer label {
  color: var(--text-color);
  font-size: large;
  font-weight: normal;
  width: 130px;
  display: initial;
  margin-right: 4px;
}

input:hover,
input:focus,
input:active {
  border: none;
  scale: initial;
}

.formContainer button {
  width: 100px;
  margin: 15px auto -10px auto;
  text-align: center;
  color: var(--background-black) !important;
  font-weight: bold;
}

.formContainer button:hover {
  scale: 1 !important;
  width: 100px;
  border: none;
  color: var(--background-black) !important;
}
