.factsCategories, .factsCategoriesOption{
    color: #826F66;
}

.factsCategories {
    width: 100px;
    border: none;
    outline: none;
}
.factsCategories:hover{
    border: none;
    outline: none;

}