.factsCategories, .factsCategoriesOption{
    color: var(--secondary-color);
}

.factsCategories {
    width: 100px;
    border: none;
    outline: none;
}
.factsCategories:hover{
    border: none;
    outline: none;

}