.factsCategories,
.factsCategoriesOption {
  color: var(--secondary-color);
}

.factsCategories {
  width: 100px;
}

@media (min-width: 425px) {
  .factsCategories {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .factsCategories {
    width: 200px;
    box-sizing: content-box;
  }

  .factsCategories,
  .factsCategoriesOption {
    font-size: large;
  }
}
